body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#template{
    min-width: 50%;
    min-height: 40%;
    background-color:whitesmoke;
    padding: 2%;
}

header{
    text-align: center;
    font-size: 1.2rem;
}

#desc{
    background-color: inherit;
    width: 100%;
    border: none;
}

#category{
    min-width: 25%;
    height: auto;
    font-size: 0.8rem;
    
}

.fiftyP{
    min-width: 50%;
   
}

.container{
    min-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#cont1{
    border-right: 1px gray solid;
}

#cont2{
    margin-left: 2%;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 150px;
    z-index: 1;
}

.dropdown-content div{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover{
    background-color: azure;
}

.show{
    display: block;
}

#buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.button-style{
    border: none;
    height: 40px;
    min-width: 100px;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.grey{
    margin-right: 1%;
    background-color: gray;
}

.red{
    margin-left: 1%;
    background-color: red;
}

.purple{
    background-color: blueviolet;
}

/**Unordered Tasks List **/
ul{
    list-style: none;
    margin: 0;
    margin-right: 3%;
    padding: 1%;
}
li{
    width: 100%;
    display: flex;
    
}
.catBox{
    height: 20px;
    width: 60px;
    
    padding: 1%;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}
.date{
    font-size: 0.8rem;
    color: gray;
    
}
.cont2{
    min-width: 40%;
}
hr{
    width: 100%;
}
.strike{
    text-decoration: line-through;
}
