<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List App</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="template">
        <header>To Do List App</header>
        <hr>
        <form action="/" method="post">
            <label for="DESCRIPTION">DESCRIPTION</label>
            <br>
            <input type="text" id="desc" placeholder="What do you need to do">
        
        </form>
    </div>
</body>
</html>